body {
  background-color: black;
  font-family: Calibri;
  font-size: 12px;
/*	background-color: #2b2b2b;*/
}
h1 {
	color: #ffae75;
	font-size: 25px;
  font-family: Bauhaus ;

}
.container{
  width:auto;
  margin:auto;
  overflow:hidden;
}
header{
  background:black;
  color: white;
  font-family: Eurostile;
  font-size: 17px;
  padding-top:30px;
  min-height:70px;
  /*border-bottom:white 10px solid;*/
  }

 header ul{
 	margin: 0px;
 	padding: 0px;
 }

header a{
  color:white;
  text-decoration:none;
  font-size:16px;
}

header li{
  float:left;
  display:inline;
  padding: 0px 20px 0 20px;
}

header #branding{
  float:left;
}

header #branding h1{
  margin:0;
}

header nav{
  float: right;
  margin-top:10px;
}

header .highlight, header .current a{
  color:#e8491d;
  font-weight:bold;
}

header a:hover{
  color:#d1cab1;
  font-family: Eurostile;
}

#showcase{
  min-height:400px;
  background:url('../img/showcase.jpg') no-repeat 0 -400px;
  text-align:center;
  color:#ffffff;
}

#showcase h1{
  margin-top:100px;
  font-size:45px;
  margin-bottom:10px;
}

#newsletter{
  padding:15px;
  color:white;
  background:#2b2b2b;
}

#newsletter h1{
  float:left;
  font-family:Eurostile;
}

#newsletter form {
  margin-top:0px;
}

#newsletter input[type="email"]{
  padding:4px;
  height:25px;
  width:250px;
}
footer{
  padding:5px;
  margin-top:20px;
  color:#ffffff;
  text-align: center;
  text-transform: uppercase;
  font-family: Calibri;
  font-size: 9px;
}


